<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Memories</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">

   <style type="text/css">
     
      .edit-form input ,textarea{
        border-width: 0 0 1px 0;        
        background-color:transparent;
      }

   </style>


  </head>


  <body style="background-color: #f5efef">

        <header>
            <nav class="navbar navbar-dark shadow" style="background-color: #303030">
              <div class="container">
                 <a href="/home" class="navbar-brand">
                  <span><i class="fa fa-camera-retro"></i></span>
                  <strong>Memories</strong></a>
                  <div class="ml-auto">
                    <a href="/logout" class="btn btn-light btn-sm nav-item">Sign out</a>
                  </div>
                    
              </div>
            </nav> 
        </header>

      

  <div class="container-fluid p-5">
    
    <div class="row"> 

      <div class="col-md-6 d-flex justify-content-center">
          <img class="img-fluid shadow" id="image" style="width: 80%; border-radius: 50%;">   
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-center">

            <div class="py-3">
              <span class="display-4">
               Update this memory.
              </span>         
             </div>

             

            <div class="text-justify" style="font-family: 'Nanum Myeongjo', serif;">

              <form method="POST" action="" class="edit-form">
              <div class="py-1">
                <textarea class="h3" id= "description" name="story-description" style="width: 65%"></textarea>
                           
              </div>

              <div class="py-1">
                <span><i class="fa fa-map-marker pr-2 h4" aria-hidden="true"></i></span>
                <input type="text" class="h4" id="location" name="story-location" style="width: 60%">
                 
              </div>

               <div class="py-1">
                <span><i class="fa fa-calendar pr-2 h4" aria-hidden="true"></i></span>
                <input class="h4" type="text" id="date" name="story-time" onfocus="(this.type='date')" onblur="(this.type='text')" onkeydown="return false" style="width: 60%">
                  
              </div>

              <div class="py-1" style="display: none">
                <input id="storyId" name="story-id">
              </div>

              <button type="submit" class="btn btn-dark">Update</button>               
            </form>
            </div> 
          

      </div>   
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/edit.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>


</body>
</html>
