<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Memories</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>    
  </head>

  <body>

        <header>
            <nav class="navbar navbar-dark shadow" style="background-color: #303030">
              <div class="container">
                 <a href="#" class="navbar-brand">
                  <span><i class="fa fa-camera-retro"></i></span>
                  <strong>Memories</strong></a>
                  <div class="ml-auto">
                    <a href="/signout" class="btn btn-light btn-sm nav-item">Sign out</a>
                  </div>
                    
              </div>
            </nav> 
        </header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Welcome to Memories</h1>
      <p class="lead text-muted">Showcase your favourite memories to your friends and family.</p>
      <p>
        <a href="/add-story" class="btn btn-primary btn-lg btn-dark">Add Memory</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row" id="album-story">   

      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#" class="text-muted">Back to top</a>
    </p>
    <p>&copy; Shashank Agarwal</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>



</body>
</html>
