<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/images/favicon.png" type="image/png" sizes="16x16">
    <title>Welcome to Memories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bilbo&display=swap" rel="stylesheet">
    <style type="text/css">
      html, body{
        height: 100%;
      }

      .login-form input{
        border-width: 0 0 1px 0;
        outline: none;
        background-color:transparent;
        width: 80%;
      }

    </style>

  </head>


  <body class="align-items-center d-flex" style="background-color: #222831">

      <div class="row container d-flex justify-content-center mx-auto h-75">
        <div class="col-md-6 card  shadow" style="background-color: #3b6978">
          <div class="my-auto mx-auto">
            <img src="/static/images/login-cover.png" class="container">
            <p class="text-white justify-content-center d-flex h3" style="font-family: 'Raleway', sans-serif;">Share your memories with us</p>            
          </div>
        
      </div>
         
         <div class="col-md-4 card shadow " style="background-color: #ebecf1">

             <div class="d-flex justify-content-center my-auto">
                <h1 style="font-family: 'Raleway', sans-serif;">Memories</h1>
              </div>

              <div class="d-flex justify-content-center my-3">
                    <span class="text-muted" style="font-size: 1.1rem">Welcome Back</span> 
                  </div> 

            <div class="d-flex flex-column justify-content-center my-auto">
              <div> 
                <form class="login-form align-items-center d-flex-block flex-column" onsubmit="return validateForm()" method="POST" action="">

                  <div class="form-group d-flex justify-content-center py-1">
                  <label for="email-id" class="sr-only">Email Id</label>
                  <input type="text" name="email-id" id="email-id"  autocomplete="on" placeholder="Enter Email Id" autofocus="on" value="memoriesapp2020@gmail.com">
                  </div>
                  <div class="form-group d-flex justify-content-center py-1">
                  <label for="password" class="sr-only">Password</label>
                  <input type="text" name="password" id="password" placeholder="Enter Password" onfocus="(this.type='text')" onblur="(this.type='password')" onpaste = "return false" oncopy ="return false" ondrop = "return false" value="memories">
                  </div>
                  <div class="d-flex flex-row w-100 justify-content-end my-auto">
                    <a href="#" class="text-muted" style="font-size: 0.8rem">Forget Password?</a>
                  </div>


                  <div class="d-flex w-100 justify-content-center my-2">
                    <button type="sumbit" class="btn btn-dark w-50">Login</button>
                  </div>


                   <div align="center" class="text-danger p-2" style="font-size: 0.7rem">
                    {% if message %}
                    <p><strong></strong>{{ message }}</p>
                    {% endif %}
                  </div>

                 </form>   
              </div>
            </div> 

            <div class="d-flex justify-content-center my-auto">
              <span>New member? <a href="/signup" class="text-muted" style="font-size: 0.9rem">Create account</a></span>              
            </div>
          </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/signin-form-validation.js"></script>

</body>
</html>
